// Typography colors (common document colors also)
$black-color: #2E2E2E;
$light-grey-color: #6c6c6c;
$lighter-grey-color: #b4b4b4;
$lightest-grey-color: #f7f7f7;
$white-color: #fff;

// Other document colors
$primary-color: #f62f5e;
$blue-color: #6eb2fb;
$cyan-color: #00d3ca;
$yellow-color: #effc90;
$orange-color: #f1ad3d;
